// ────────────── Startup Applications ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#spawn-sh-at-startup

    spawn-at-startup "niri-headless-check.sh"
    spawn-at-startup "copyq" "--start-server"
