    window-rule {
        geometry-corner-radius 20 // Set every window radius to 20
        clip-to-geometry true
    }

    window-rule {
        background-effect {
          blur true
          xray false
        }
    }

    window-rule {
        match app-id=r#"^kitty$"#
        default-column-width { proportion 0.5; }
    }

    // Floating CopyQ Clipboard Manager
    window-rule {
        match app-id=r#"^(com\.github\.hluk\.)?copyq$"#
        open-floating true
        default-column-width { fixed 650; }
        default-window-height { fixed 550; }
    }

    // Floating DMS window
    window-rule {
        match app-id="^com.danklinux.dms$"
        open-floating true
        background-effect {
            xray false
        }
    }

    // Floating Brave Gemini (Scratchpad pantalla completa flotante con transparencia suave)
    window-rule {
        match app-id=r#"brave-gemini\.google\.com"#
        open-floating true
        default-column-width { proportion 1.0; }
        default-window-height { proportion 1.0; }
        default-floating-position x=0 y=0 relative-to="top-left"
        opacity 0.88
    }

    // Floating Kitty Terminal (Scratchpad pantalla completa flotante)
    window-rule {
        match app-id=r#"^kitty-scratchpad$"#
        open-floating true
        default-column-width { proportion 1.0; }
        default-window-height { proportion 1.0; }
        default-floating-position x=0 y=0 relative-to="top-left"
    }

    // Floating System Monitor btop (Scratchpad Super + Esc)
    window-rule {
        match app-id=r#"^btop-system$"#
        open-floating true
        default-column-width { proportion 0.85; }
        default-window-height { proportion 0.85; }
    }


    // Omnissa Horizon Client (Ancho exacto de 1625px)
    window-rule {
        match app-id=r#"^(horizon-client|vmware-view)$"#
        default-column-width { fixed 1625; }
    }

    // if you use steam you will probably like these
    window-rule {
        match app-id="steam"
        exclude title=r#"^[Ss]team$"#
        open-floating true
    }

    window-rule {
       match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
       default-floating-position x=10 y=10 relative-to="bottom-right"
       open-focused false
    }

    layer-rule {
        match namespace="^quickshell$"
        place-within-backdrop true
    }

    layer-rule {
        exclude namespace="^dms:bar$"
        background-effect {
            xray false
        }
    }
